body{
    background-image: url("back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#hatter{
    width: 1000px;
    margin: auto;
}

#header{
    background-image: url("panorama.jpg");
    background-size: cover;
    background-position: center;
    min-width: 650px;
    max-width: 1000px;
}

#balra{
    float: left;
}

#jobbra{
    float: right;
}